@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

:root {
    --fundo1: #5D2CE6;
    --fundo2: #5D1AEA;
    --fundo3: #5A2AE0;
    --fundo4: #511AC4;
    --cor-letra: rgb(250,250,250);
    --cor-letra-secundaria: rgb(20,20,20);
    --cor-destaque: #E86F3D;

    color: var(--cor-letra);
    font-size: 24px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#principal {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#principal>* {
    /* border: 1px solid black; */
}

#principal .limite {
    margin: auto;
    max-width: 1200px;

    /* border: 1px solid black; */
}

#principal>main {
    flex-grow: 1;
}

#principal>*:nth-child(1) {
    background-color: var(--fundo1);
    border-bottom: 2px solid var(--cor-destaque);
}

#principal>*:nth-child(2) {
    background-color: var(--fundo2);
}

#principal>*:nth-child(3) {
    background-color: var(--fundo3);
}

#principal>*:nth-child(4) {
    background-color: var(--fundo4);
}

#principal>footer {
    border-bottom: 4px solid var(--cor-destaque);
}

#principal>header {
    font-family: 'Norican', cursive;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 90%;
    padding-bottom: 0.15em;
}

.jumbo {
    background-image: url(jumbo.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: 25rem;
}

.jumbo header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    word-spacing: 0.5em;
    margin: 3em;
}

.jumbo em {
    line-height: 95%;
    display: block;
    font-size: 3em;
    text-transform: capitalize;
    font-family: 'Norican', cursive;
}

.jumbo section {
    display: flex;
    justify-content: center;
}

.jumbo .texto {
    flex-grow: 1;
    flex-basis: 50%;
}

.jumbo .iconografia {
    flex-grow: 1;
    flex-basis: 50%;
    gap: 2em;
    margin-right: 1em;

    display: flex;
    justify-content: space-between;

    text-align: center;
    font-size: 0.8em;
}

.jumbo .iconografia>* {
    flex-grow: 1;
}

.jumbo .iconografia .bola {
    background-image: linear-gradient(120deg, transparent 20%, var(--cor-destaque) 70%);
    border-radius: 50%;
}

.jumbo .bola img {
    transform: scale(75%, 75%);
}

.jumbo .texto {
    padding: 1em;
    border-left: 2px solid var(--cor-destaque);

    display: flex;
    justify-content: center;
    align-items: center;
}

main .conteudo {
    display: flex;
}

main .conteudo>* {
    flex-grow: 1;
    flex-basis: 50%;
}

.balao::before {
    content: 'baixe agora';
    position: relative;
    bottom: 2em;
    background-color: var(--cor-destaque);
    padding: 0.25em 1em;
}

.balao::after {
    content: '';
    position: relative;
    bottom: 205px;
    right: 100px;
    border-color: var(--cor-destaque) transparent transparent;
    border-width: 0.5rem 0.5rem 0;
    border-style: solid;
    height: 0px;
    width: 0px;
}

main form {
    background-color: var(--cor-letra);
    color: var(--cor-letra-secundaria);

    border: 2px solid var(--cor-destaque);

    display: flex;
    flex-direction: column;

    margin: 1em;
}

main form>*{
    margin: 0.5em 2em;
    margin-bottom: 0;
}

main form>*:last-child{
    margin-bottom: 2em;
}

main form header {
    background-color: var(--fundo4);
    color: var(--cor-letra);

    margin: 0;
    padding: 2em;
    text-align: center;
}

input, select, button, label {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: rgb(230,230,230);

    border-style: none;
    outline: none;
}

label {
    background-color: unset;
    padding-bottom: 0;
}

button {
    background-color: var(--cor-destaque);
    color: var(--cor-letra);
    text-transform: uppercase;
    font-weight: bold;
}